doctype html
<!-- #{name} Version: #{version} -->
html(lang="en").no-js
  head
    title #{name} Version: #{version}
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="finfin.min.css", type="text/stylesheet")
  body
