column($width = false,$push = 0) 
  if $width
    width ((100/$columns) * $width)%
    if $push > 0
      make-push($push)
  else
    float left
    min-height 1px  
    background #ccc
    margin-top 2px
  
make-columns($size)
  $column_list = ()
  
  for $i in 1..$columns
    $col-name = "." + $size + "-" + $i
    $column_list = push($column_list,$col-name)
    
    .{$size}-{$i}
      column($i)
    
make-column($sizes)
  column()
  
  for $size in $sizes
    if $size[0] != 'xxs'
      @media screen and (min-width: $breakpoints[$size[0]])
        column($size[1],$size[2])
    else
      column($size[1],$size[2])
      
make-push($width)
  margin-left ((100/$columns) * $width)%
