column($width = false,$push = 0) 
  if $width
    width ((100/$columns) * $width)%
    if $push > 0
      make-push($push)
    if $push < 0
      make-pull($push)
  else
    float left
    min-height 1px  
    padding 0 $padding-base
  
make-columns($size)
  $column_list = ()
  
  for $i in 1..$columns
    $col-name = "." + $size + "-" + $i
    $column_list = push($column_list,$col-name)
    
    .{$size}-{$i}
      column($i)
    .{$size}-push-{$i}
      make-push($i)
    .{$size}-pull-{$i}
      make-pull($i)
    
make-column($sizes)
  column()
  
  for $size in $sizes
    if $size[0] != 'xxs'
      @media screen and (min-width: $breakpoints[$size[0]])
        column($size[1],$size[2])
    else
      column($size[1],$size[2])
      
make-push($width)
  margin-left ((100/$columns) * $width)%

make-pull($width)
  margin-right ((100/$columns) * $width)%
