make-grid()
  $all-columns = ""
  
  for $size, $min-width in $breakpoints
  
    $all-columns = $all-columns + ($all-columns ? ',' : '') + "[class*='" + $size + "-'] "
  
    if $size != 'xxs'
      @media screen and (min-width: $min-width)
        make-columns($size)
    else
      make-columns($size)
  
  {join(".",$all-columns)}
    column()
    
make-row($width = 0)
  if $width != 0
    max-width $width
  else
    float left
    
  width 100%
  margin 0 auto
  position relative
  clearfix()

clearfix()
  &::before,
  &::after
    content ""
    display table
    clear both
